@import "reset.css";

.wrapper {
    background-image: url("../image/background 1.png");
    background-position: top center;
    background-repeat: repeat-x;
}
[class*="__container"] {
    max-width: 1030px;
    margin: 0 auto;
}
.text {
    font-family: 'Roboto';
    font-style: normal;
    align-items: center;
    color: #FFFFFF;
}
.header__container {
    padding-top: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    padding-left: 8px;
}
.header__container div:first-child {
    display: flex;
    flex-flow: row wrap;
}
.logo h1 {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    text-transform: uppercase;
    display: inline;
}
.logo span {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    display: flex;

}
.photo-logo {
    background-image: url("../image/logo 3.png");
    display: flex;
    width: 53px;
    height: 47px;
    justify-content: left;
}
.all-logo:hover .photo-logo{
    background-image: url("../image/logo 3-orange.png");
}
.all-logo:hover .logo {
    color: #F26522;
}
a[href^="mailto:"], a[href^="tel:"] {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    justify-content: flex-end;
}
a[href^="mailto:"]:hover, a[href^="tel:"]:hover {
    color: #F26522;
}
.header__container a:first-child  {
    padding-bottom: 19px;
}
.blocks {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(2, max-content);
    grid-gap: 37px 64px;
    justify-content: center;
    margin-top: 22px;
}
.blocks li .emerging-link {
    position: relative;
}
.blocks img {
    width: 300px;
    height: 220px;
    /*display: flex;*/
    /*flex-flow: column wrap;*/
}
.text-under-photo {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /*width: max-content;*/
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.emerging-block {
    position: absolute;
    bottom: -202px;
    left: 0;
    width: 300px;
    height: 55px;
    background: #F26522;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    align-items: center;
    color: #FFFFFF;
    display: none;
    transition: all .50s;
}
.emerging-block-small-text {
    font-size: 10px;
    line-height: 10px;
    padding-left: 16px;
    padding-top: 7px;
}
.emerging-block-price {
    font-size: 20px;
    line-height: 20px;
    padding-left: 16px;
    padding-top: 7px;

}
.emerging-block span:nth-of-type(2) {
    font-size: 14px;
    line-height: 14px;
    padding-top: 7px;
    padding-right: 37px;
}
.emerging-block div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow {
    position: relative;
}
.arrow::after{
    content: ">";
    position: absolute;
    width: 5px;
    height: 10px;
    color: white;
    right: 14px;
}
.blocks li:hover .text-under-photo {
    color: #F26522;
}
.blocks li:hover .emerging-block {
    display: block;
}

.footer__container {
    display: flex;
    margin-top: 49px;
    padding-bottom: 15px;
    justify-content: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}
